@use '_fonts';
@use '_grid';

:root {
  color: #000;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

/*  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;*/
}

#app {
  min-width: 700px;
  width: 100%;
}

a {
  font-weight: 500;
  color: #007CE0;
  text-decoration: inherit;
  &:hover {
    color: #007CE0;
  }
}

body {
  margin: 0 auto;
  display: flex;
  width: 1170px;
}

h1 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 24px;
  margin: 30px 0;
}

h2 {
  color: #333;
  font-family: 'Gotham-Book', sans-serif;
  font-weight: 400;
  font-size: 16px;
  &.header {
    background-color: #EDF6FD;
    border-bottom: 1px solid #CCC;
    height: 50px;
    line-height: 49px;
    margin: 25px 0;
    padding: 0 15px;
  }
  strong {
    font-family: 'Gotham-Bold', sans-serif;
  }
}
h3 {
  color: #000;
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0px 0px 10px;
}
h4 {
  margin-top: 0;
}
h5 {
  color: #000;
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 12px;
  margin: 0;
}

hr {
  border: 1px solid #E0E0E0;
  border-bottom: 0;
  margin: 10px 0;
}

.small {
  color: #888;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 12px;
  line-height: 14px;
}


.content {
  > div {
    border-top: 1px solid #CCC;
    margin-left: 15px;
    margin-right: 15px;
    &.no-border {
      border-top: 0;
    }
  }
}

.sidebar {
  margin-right: 0;
  padding-top: 15px;
}
.chart-title {
  margin-top: 15px;
}
.chart-tooltip {
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  opacity: 0;
  padding: 8px;
  pointer-events: none;
  position: absolute;
  width: 75px;
  z-index: 3;
  .date {
    color: #888;
  }
}


.main-content {
  min-height: 620px;
}
.right-content {
  margin-bottom: 20px;
  position: relative;
}

.grid {
  line {
    stroke: #DDD;
    //stroke-dasharray: 8, 4;
  }
}
.grid path {
    stroke-width: 0; /* Hide the axis line for the grid */
}

.axis path, .axis line {
  stroke: #999; /* Default axis line color */
}
.tick text {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 13px;
  color: #999;
}

.domain {
  stroke-width: 0;
}

.small-multiples {
  .tick line {
    stroke: #DDD;
  }
}


@media (max-width: 768px) {
  body {
    width: 100%;
  }
  header {
    padding: 0 20px;
    width: auto;
  }
  .sidebar {
    padding: 20px;
  }
  .content > div {
    margin: 0;
  }
  .right-content {
    margin-bottom: 0;
  }
  .main-content {
    min-height: unset;
  }
}
